 .attribution {
     font-size: 11px;
     text-align: center;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }

 body {
     background-color: #E6EFF6;
     box-sizing: border-box;
     font-size: 16px;
     margin: 0px;
     font-family: 'Karla', sans-serif;
 }
span{
    font-size: 3rem;
}

 .container {
     background-color: white;
     max-width: 22rem;
     margin: 2vh auto;
     border-radius: 20px;
     box-shadow: 0px 10px 10px 2px #E6EFF6;
 }

 .heading p {
     line-height: 1.6;
     width: 100%;
     color: hsl(218, 22%, 67%);
     padding-bottom: 1.2rem;
 }

 .heading {
     padding: 1.5rem 1rem 0rem 1.5rem;
     background-color: white;
 }

 .heading h1 {
     color: hsl(179, 62%, 43%);
     font-weight: 700;
 }

 .subscribe {
     background-color: #2BB3B1;
     padding: 1rem 0rem 1.5rem 1.5rem;
     color: hsl(204, 43%, 93%);
 }

 .subscribe h3 {
     margin-top: 10px;
 }

 .sign-btn {
     text-align: center;
     padding: 1rem 35%;
     font-size: 1rem;
     border-radius: 5px;
     background-color: hsl(71, 73%, 54%);
     text-decoration: none;
     color: hsl(204, 43%, 93%);
     font-weight: 400;
     box-shadow: 0px 10px 10px 2px #26A29F;
 }

 .btn {
     margin-top: 3.125rem;
     margin-bottom: 20px;
/*     padding-right: 20px;*/
 }

 .whyus {
     background-color: #4ABEBD;
     padding: 1rem 0rem 1rem 1.5rem;
     color: hsl(204, 43%, 93%);
 }

 .whyus-list {
     margin: 5px;
     font-size: 13px;
     font-weight: 200;
 }

@media screen and (min-width: 700px){
    .container{
        max-width: 40%;
        margin: 20vh auto;
    }
    .sign-btn{
         padding: 1rem 35%;
    }
    .content{
        display: flex;
    }
    .subscribe{
        width: 50%;
    }
    .whyus{
        width: 50%;
        padding-top: 0rem;
    }
}
@media screen and (max-width:1200px){
    .sign-btn{
        padding: 1rem 20%;
    }
}
